---
import { EyeIcon } from "@/components/icons";

type Props = {
  previewURL: string;
};

let { previewURL } = Astro.props;
---

<a class="btn-sm flex-1 text-xs" href={previewURL} target="_blank">
  <EyeIcon />
  Preview
</a>
